<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.0" targetFramework="net46" userInstalled="true" />
  <package id="Angular.UI.UI-Router" version="0.2.15" targetFramework="net46" userInstalled="true" />
  <package id="AngularJS.Core" version="1.4.1" targetFramework="net46" userInstalled="true" />
  <package id="bootstrap" version="3.3.4" targetFramework="net46" userInstalled="true" />
  <package id="jQuery" version="2.1.4" targetFramework="net46" userInstalled="true" />
</packages>