<!DOCTYPE html>
<html ng-app="sc.directivas">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/mainDirectivas.css" rel="stylesheet" />

    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel='stylesheet' href='Content/textAngular.css'>
    <script src='Scripts/textAngular-rangy.min.js'></script>
    <script src='Scripts/textAngular-sanitize.min.js'></script>
    <script src='Scripts/textAngular.min.js'></script>
    <script src="Scripts/validate/validate.js"></script>



</head>
<body ng-controller="mainController as vm" class="container">

    <h1>Test desde github</h1>
    <div ng-controller="demo as d">
        <form name="formulario" novalidate>
            <div class="row">
                <div>
                    <a href="" ng-click="d.FillForm()">Llenar Formulario</a>
                </div>
                <sc-panel control="formulario.scInputNumeros">
                    <label>Solo Numeros</label>
                    <sc-texto id="Numeros" ng-model="d.Numeros" requerido="true" tipo="num" ></sc-texto>
                </sc-panel>
                <sc-panel control="formulario.scInputtodo">
                    <label>Texto abierto</label>
                    <sc-texto id="todo" ng-model="d.Todo" requerido="true" tipo="todo"></sc-texto>
                </sc-panel>
                <sc-panel control="formulario.scInputtextonum">
                    <label>Letras y números</label>
                    <sc-texto id="textonum" ng-model="d.TextoNumero" requerido="true" tipo="textonum"></sc-texto>
                </sc-panel>

                <sc-panel control="formulario.scInputletras">
                    <label>Letras</label>
                    <sc-texto id="letras" ng-model="d.Texto" requerido="true" tipo="texto"></sc-texto>
                </sc-panel>

                <sc-panel control="formulario.scAreaarea">
                    <label>Text area</label>
                    <sc-texto-area id="area" ng-model="d.TextoArea" requerido="true"></sc-texto-area>
                    <span></span>
                </sc-panel>

                <sc-panel control="formulario.scInputmoneda">
                    <label>Moneda</label>
                    <sc-moneda id="moneda" ng-model="d.moneda" requerido="true"></sc-moneda>
                </sc-panel>

                <sc-panel control="formulario.scRadiomoneda">
                    <label>Radio</label>
                    <sc-radio id="radio" ng-model="d.opcion" opciones="d.opciones" opt-value="Nombre" requerido="true"></sc-radio>
                </sc-panel>
            </div>
            <div class="row">
                <input type="button" value="Aceptar" ng-disabled="formulario.$invalid" class="btn btn-primary" />
                <br />
                <div class="alert alert-info container-fluid panel-collapse">
                    Texto abierto: {{d.Todo}}<br />
                    Numeros: {{d.Numeros}}<br />
                    Letras y números: {{d.TextoNumero}}<br />
                    Letras: {{d.Texto}}<br />
                    Text area: {{d.TextoArea}}<br />
                    Moneda: {{d.moneda}}<br />
                    Radio: {{d.opcion}}
                </div>

            </div>
        </form>
        <pre>
            {{ formulario | json }}
        </pre>
    </div>


    <script src="Scripts/mask.js"></script>
    <script src="App/Modules/app.js"></script>
    <script src="App/Controllers/mainController.js"></script>
    <script src="App/Controllers/controller.js"></script>
    <script src="App/DirectivasSC/Contenedores/scPanel.js"></script>
    <script src="App/DirectivasSC/scTexto.js"></script>
    <script src="App/DirectivasSC/scTextoArea.js"></script>
    <script src="App/DirectivasSC/scFormatoMoneda.js"></script>
    <script src="App/DirectivasSC/scMoneda.js"></script>
    <script src="App/DirectivasSC/scRadio.js"></script>
    <script src="App/DirectivasSC/Validadores/scSoloLetras.js"></script>
    <script src="App/DirectivasSC/Validadores/scSoloEnteros.js"></script>
    <script src="App/DirectivasSC/Validadores/scSoloLetrasEnteros.js"></script>
    <script>

        angular
            .module('sc.directivas').controller('demo', demo);

        demo.$inject = ['$scope'];

        function demo($scope) {

            var ct = this;

            ct.valor = 100;

            ct.opciones = [
                { Id: 1, Nombre: 'Opcion 1', Tipo: "Tipo 1" },
                { Id: 2, Nombre: 'Opcion 2', Tipo: "Tipo 2" },
                { Id: 3, Nombre: 'Opcion 3', Tipo: "Tipo " }
            ];

            ct.FillForm = function () {
                ct.Todo = "texto abierto";
                ct.TextoNumero = "abc 134";
                ct.Texto = "Solamente texto";
                ct.TextoArea = "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas 'Letraset', las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.";
                ct.moneda = 456700;
                ct.opcion = ct.opciones[1];
            }
        };

        (function () {
            console.time("TiempoMide-watchers");
            var root = angular.element(document.getElementsByTagName('html'));

            var watchers = [];

            var f = function (element) {
                angular.forEach(['$scope', '$isolateScope'], function (scopeProperty) {
                    if (element.data() && element.data().hasOwnProperty(scopeProperty)) {
                        angular.forEach(element.data()[scopeProperty].$$watchers, function (watcher) {
                            watchers.push(watcher);
                        });
                    }
                });

                angular.forEach(element.children(), function (childElement) {
                    f(angular.element(childElement));
                });
            };

            f(root);

            // Remove duplicate watchers
            var watchersWithoutDuplicates = [];
            angular.forEach(watchers, function (item) {
                if (watchersWithoutDuplicates.indexOf(item) < 0) {
                    watchersWithoutDuplicates.push(item);
                }
            });

            console.log("watchers:" + watchersWithoutDuplicates.length);
            console.timeEnd("TiempoMide-watchers");
        })();

    </script>


</body>
</html>
