<!DOCTYPE html>
<html ng-app="sc.directivas">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />

    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel='stylesheet' href='Content/textAngular.css'>
    <script src='Scripts/textAngular-rangy.min.js'></script>
    <script src='Scripts/textAngular-sanitize.min.js'></script>
    <script src='Scripts/textAngular.min.js'></script>




</head>
<body ng-controller="mainController as vm" class="container">
      
    <form name="formulario" novalidate ng-controller="demo as d">

        <div>
            <a h-ref="" ng-click="d.FillForm()">Llenar Formulario</a>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scInputtodo.$invalid}">
            <label>Texto abierto</label>
            <sc-texto id="todo" ng-model="d.Todo" requerido="true" tipo="todo"></sc-texto>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scInputtextonum.$invalid}">
            <label>Letras y números</label>
            <sc-texto id="textonum" ng-model="d.TextoNumero" requerido="true" tipo="textonum"></sc-texto>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scInputletras.$invalid}">
            <label>Letras</label>
            <sc-texto id="letras" ng-model="d.Texto" requerido="true" tipo="texto"></sc-texto>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scAreaarea.$invalid}">
            <label>Text area</label>
            <sc-texto-area id="area" ng-model="d.TextoArea" requerido="true"></sc-texto-area>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scInputmoneda.$invalid}">
            <label>Moneda</label>
            <sc-moneda id="moneda" ng-model="d.moneda" requerido="true"></sc-moneda>
        </div>

        <div class="form-group" ng-class="{'has-error':formulario.scRadiomoneda.$invalid}">
            <label>Radio</label>
            <sc-radio id="radio" ng-model="d.opcion" opciones="d.opciones" opt-value="Nombre" requerido="true"></sc-radio>
        </div>

        <input type="button" value="Aceptar" ng-disabled="formulario.$invalid" class="btn btn-primary" />
        <br />
        <div class="alert alert-info container-fluid panel-collapse">
            Texto abierto: {{d.Todo}}<br />
            Letras y números: {{d.TextoNumero}}<br />
            Letras: {{d.Texto}}<br />
            Text area: {{d.TextoArea}}<br />
            Moneda: {{d.moneda}}<br />
            Radio: {{d.opcion}}
        </div>
    </form>

    

    

  
    <script src="Scripts/mask.js"></script>
    <script src="App/Modules/app.js"></script>
    <script src="App/Controllers/mainController.js"></script>
    <script src="App/Controllers/controller.js"></script>
    <script src="App/DirectivasSC/scTexto.js"></script>
    <script src="App/DirectivasSC/scTextoArea.js"></script>
    <script src="App/DirectivasSC/scFormatoMoneda.js"></script>
    <script src="App/DirectivasSC/scMoneda.js"></script>
    <script src="App/DirectivasSC/scRadio.js"></script>
    <script src="App/Directives/scOnlyIntegersDirective.js"></script>
    <script src="App/Directives/scOnlyLettersDirective.js"></script>
    <script src="App/Directives/scOnlyLettersIntegersDirective.js"></script>
    <script>

        angular
            .module('sc.directivas').controller('demo', demo);

        demo.$inject = ['$scope'];

        function demo($scope) {

            var ct = this;

            ct.valor = 100;

            ct.opciones = [
                { Id: 1, Nombre: 'Opcion 1',Tipo: "Tipo 1"},
                { Id: 2, Nombre: 'Opcion 2',Tipo: "Tipo 2"},
                { Id: 3, Nombre: 'Opcion 3',Tipo: "Tipo "}
            ];

            ct.FillForm = function () {
                ct.Todo = "texto abierto";
                ct.TextoNumero = "abc 134";
                ct.Texto ="Solamente texto";
                ct.TextoArea ="Campo para escribir de todo 2343. %";
                ct.moneda = 456700;
                ct.opcion = ct.opciones[1];
            }
        };

    </script>

</body>
</html>
