<div class="f-input clearfix">
    <label for="{{::'scCombo' + vm.id}}">
        <span translate>{{vm.label}}</span>
        <span class="txtRojo" ng-show="vm.requerido">*</span>
    </label>

    <ui-select ng-model="vm.value"
               ng-attr-id="{{::'scCombo' + vm.id}}"
               ng-attr-name="{{::'scCombo' + vm.id}}" ng-required="vm.requerido"
               ng-disabled="vm.disabled"
               on-select="vm.onselect()"
               theme="bootstrap">
        <ui-select-match placeholder="Seleccione...">{{$select.selected[vm.opcion]}}</ui-select-match>

        <ui-select-choices repeat="{{vm.valorRetorno && 'opcion[vm.valorRetorno] as' || ''}} opcion in vm.lista | filter:$select.search">
            <div ng-bind-html="(vm.opcion && opcion[vm.opcion] || opcion) | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <div class="box-contAlertIcon" ng-show="vm.control.$invalid && vm.control.$dirty">
        <i class="icon-credi-04" ng-click="vm.tolltip()"></i>
    </div>
</div>