<label>{{vm.label}} <span class="txtRojo" ng-show="{{vm.requerido}}">*</span></label>
<div class="f-input clearfix">
    <textarea class="" ng-attr-name="{{::'scArea' + id}}" ng-attr-id="{{::'scArea' + id}}" ng-model="value" ng-required="{{requerido}}" />
    <a style="cursor: pointer" ng-show="control.$invalid" ng-class="{'alerta':control.$invalid }" popover="{{vm.tooltip}}" popover-placement="top" popover-trigger="click" popover-class="{{vm.tooltipclass}}">
        <i class="icon-credi-01"></i>
    </a>
</div>
