<div class="f-input clearfix">
    <fieldset class="col-md-12 fa-border">
        <legend for="{{::'scRadio' + id + '0'}}">{{label}}<span class="txtRojo" ng-show="requerido">*</span></legend>
        <div class="col-md-{{12/cols}} pull-left" ng-repeat="opcion in opciones">
            <input type="radio" ng-value="retorno && opcion[retorno] || opcion" class="f-input clearfix" ng-model="$parent.value" ng-attr-name="{{::'scRadio' + id}}" ng-attr-id="{{::'scRadio' + id + $index}}" ng-required="{{requerido}}" tabindex="{{index}}" />
            <label for="{{::'scRadio' + id + $index}}">{{opcion[optValue]}}</label>
        </div>
        {{$parent.value | json}}
    </fieldset>
</div>
