<div ng-controller="controller as vm" class="container">
    <h1>Directivas</h1>
    <form class="form" name="formulario">

        <sc-input-label data-nombre="Nombre" ng-model="vm.persona.Nombre" only-Letters data-formname="formulario" placeholder="Nombre de la persona" ng-required></sc-input-label>

        {{formulario.$error | json }}

        {{formulario.scInputNombre.$error.required | json}}
         
        <span ng-show="formulario.scInputNombre.$error.required || formulario.scInputNombre.$error.$invalid">
            ingrese el valor del nombre (externo)!!!
        </span>

        

        <sc-input-label data-nombre="Apellido" placeholder="Apellido de la persona" ng-model="vm.persona.Apellido" data-formname="formulario" ng-required></sc-input-label>

        <sc-input-label-number data-nombre="Edad" ng-model="vm.persona.Edad" ng-required data-formname="formulario"></sc-input-label-number>

        <br />
        <input type="button" ng-click="vm.VerValores()" value="Ver valores" class="btn btn-primary" />
        <a href="" ng-click="vm.persona = {}">Limpiar</a>
    </form>
    <div ng-show="!!vm.nombreCompleto" class="alert alert-info">
        {{ vm.nombreCompleto }}
    </div>



  
    <script src="App/Controllers/controller.js"></script>
   
</div>

