<div class="cotainer-fluid">

    <h1>
        Sólo letras
        <br />
        <small>Esta directiva <u>tiene una plantilla</u>, genera un input de tipo "text" con un label asociado</small>
    </h1>
    <sc-input-label id="nombrecompleto"
                    label="Nombre completo"
                    ng-model="vm.persona.Nombre"
                    placeholder="Nombre de la persona"
                    ng-required>
    </sc-input-label>


    <pre class="pre-scrollable">
        &lt;sc-input-label id="nombrecompleto" label="Nombre completo" ng-model="vm.persona.Nombre" placeholder="Nombre de la persona" 
        ng-required&gt;&lt;/sc-input-label&gt;
    </pre>

</div>