<div class="container-fluid" ng-controller="controller as vm">
    <h1> Prueba completa</h1>



    <form name="formulario" novalidate>

        <sc-input-label label="Nombre"
                        id="Nombre"
                        data-nombre="Nombre"
                        haserror="formulario.scInputNombre.$invalid"
                        ng-model="vm.persona.Nombre"
                        only-letters
                        placeholder="Nombre de la persona"
                        ng-required
                        errormessage="Sólo se aceptar letras"></sc-input-label>


        <sc-input-label label="Apellido"
                        id="Apellido"
                        data-nombre="Apellido"
                        only-letters
                        haserror="formulario.scInputApellido.$invalid"
                        ng-model="vm.persona.Apellido"
                        placeholder="Apellido de la persona"
                        ng-required
                        errormessage="Sólo se aceptar letras"></sc-input-label>

        <sc-input-label-number id="Edad"
                               label="Edad"
                               data-nombre="Edad"
                               haserror="formulario.scInputEdad.$invalid"
                               ng-model="vm.persona.Edad"
                               placeholder="Edad de la persona"
                               ng-required
                               errormessage="solo se aceptan números enteros mayores a cero"></sc-input-label-number>
        <br />
        <input type="button" value="Aceptar" ng-click="vm.VerValores()" class="btn btn-primary" ng-disabled="formulario.$invalid" />
    </form>

    <div class="alert alert-info" ng-show="vm.nombreCompleto">
        {{ vm.nombreCompleto }}
    </div>


    <pre class="pre-scrollable">
        &lt;form name="formulario" novalidate&gt;
        &lt;sc-input-label label="Nombre" 
                        id="Nombre" 
                        data-nombre="Nombre"  
                        haserror="formulario.scInputNombre.$invalid" 
                        ng-model="vm.persona.Nombre" 
                        only-letters 
                        placeholder="Nombre de la persona" 
                        ng-required
                        errormessage="Sólo se aceptar letras"&gt;&lt;/sc-input-label&gt;
         
        &lt;sc-input-label label="Apellido" 
                        id="Apellido" 
                        data-nombre="Apellido" 
                        only-letters 
                        haserror="formulario.scInputApellido.$invalid"
                        ng-model="vm.persona.Apellido" 
                        placeholder="Apellido de la persona" 
                        ng-required
                        errormessage="Sólo se aceptar letras"&gt;&lt;/sc-input-label&gt;     
        
        &lt;sc-input-label-number 
                               id="Edad" 
                               label="Edad" 
                               data-nombre="Edad" 
                               haserror="formulario.scInputEdad.$invalid"
                               ng-model="vm.persona.Edad" 
                               placeholder="Edad de la persona" 
                               ng-required
                               errormessage="solo se aceptan números enteros mayores a cero"&gt;&lt;/sc-input-label-number&gt;       
        &lt;br/&gt;
        &lt;input type="button" value="Aceptar" ng-click="vm.VerValores()" class="btn btn-primary" ng-disabled="formulario.$invalid"/&gt;
    &lt;/form&gt;
    </pre>




</div>
