<div class="cotainer-fluid">
    <sc-input-label id="nombrecompleto"
                    label="Nombre completo"
                    ng-model="vm.persona.Nombre"
                    placeholder="Nombre de la persona"
                    ng-required>
    </sc-input-label>


    <pre class="pre-scrollable">
        &lt;sc-input-label id="nombrecompleto" label="Nombre completo" ng-model="vm.persona.Nombre" placeholder="Nombre de la persona" 
        ng-required&gt;&lt;/sc-input-label&gt;
    </pre>

</div>