<div ng-controller="controller as vm" class="container-fluid">
    <h1>
        Sólo números y letras
        <br />
        <small>Esta directiva <u>no tiene una plantilla</u>, solamente válida que el input sólo tenga números y letras</small>
    </h1>
    <form name="formulario" class="form" novalidate>
        <div class="control-group">
            <input type="text" name="valor" ng-model="Edad" only-letters-integers class="form-control" />
            <div ng-show="formulario.valor.$invalid" class="alert alert-danger">
                Sólo se aceptan números y letras
            </div>
        </div>
        <input type="button" value="Aceptar" class="btn btn-primary" ng-disabled="formulario.$invalid" />
    </form>

    <pre class="pre-scrollable">
        &lt;div class="control-group"&gt;
        &lt;input type="text" name="valor" ng-model="Edad" only-letters-integers class="form-control" /&gt;
        &lt;div ng-show="formulario.valor.&invalid"&gt;
                Sólo se aceptan números y letras
            &lt;/div&gt;
        &lt;/div&gt;
    </pre>
</div>